PORT=3000
WHATSAPP_TOKEN=TU_TOKEN_DE_ACCESO
WHATSAPP_PHONE_NUMBER_ID=TU_IDENTIFICADOR_DE_NUMERO
WHATSAPP_VERIFY_TOKEN=myr_webhook_verify_token
WHATSAPP_GRAPH_API_VERSION=v21.0

GOOGLE_SHEETS_ENABLED=false
GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
