PORT=3000
WHATSAPP_TOKEN=EAAG...
WHATSAPP_PHONE_NUMBER_ID=1234567890
WHATSAPP_VERIFY_TOKEN=myr_webhook_verify_token
WHATSAPP_GRAPH_API_VERSION=v21.0
GOOGLE_SHEETS_ID=1abcDEF...
GOOGLE_SERVICE_ACCOUNT_EMAIL=bot-sheets@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
ADMIN_EMAIL=admin@myrconsultores.cl
